<ion-header>
  <ion-toolbar>
    <ion-title>
      websockets test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--
  <ul class="messages">
    <li *ngFor="let message of messages">
      <span>{{messages}}</span>
    </li>
  </ul>
  
  {{positionx}}
  {{positiony}}
  -->
  <ion-button (click)="Play()">Play</ion-button>
  <ion-button (click)="Pause()">Pause</ion-button>
  <ion-button (click)="Unpause()">Unpause</ion-button>
  <br><br>
  <a href="{{message}}">{{message}}</a>
</ion-content>
